.venv/
db.sqlite3
support_app/__pycache__/
support_app/core/__pycache__/
support_app/migrations/
support_webapp/__pycache__/
static_collected/
support_webapp/__init__.py
support_app/.DS_Store
support_app/static/.DS_Store
.DS_Store
support_app/static/support_app/.DS_Store
