.message {
    font-weight: 600;
    color: blue;
}

.navbar {
    background-color: lightslategray;
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    padding: 8px 5px 8px 5px;
}

.navbar a {
    text-decoration: none;
    color: inherit;
}

.navbar-brand {
    font-size: 1.2em;
    font-weight: 600;
}

.navbar-item {
    font-variant: small-caps;
    margin-left: 30px;
}

.body-content {
    padding: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input[name=product_url] {
    width: 80%;
}

/* Split the screen in half */
.split {
    height: 80%;
    width: 50%;
    position: fixed;
    z-index: 1;
    /*top: 0;
    overflow-x: hidden;*/
    padding-top: 10px;
    padding-left: 10px;
    
}
  
/* Control the left side */
.left {
    left: 0;
    /*background-color: #111;*/
}

/* Control the right side */
.right {
    padding-right: 10px;
    right: 0;
    margin-right: 5px;
}

/* If you want the content centered horizontally and vertically */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* Box styles */
.scrollbox {
    padding-top: 10px;
    height: 90%;
    border: 1px solid #ccc;
    padding: 5px;
    overflow: scroll;
    background-color: #bcccc828;
}

/* Scrollbar styles */
/*::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    border: 1px solid rgb(12, 12, 12);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: rgb(12, 12, 12);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(12, 12, 12);
}*/