{% extends "support_app/layout.html" %}
{% block title %}
About Us
{% endblock %}
{% block content %}
<div class="banner">
	<div class="g-table">
	    <div class="d-middle">
		    <div class="container">
			    <div class="banner-text">
			    <h1>AI Tool Paradigm: Stacking experts to solve complex tasks</h1>
			    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam hic repellat blanditiis.</p>
                <p>
                    expedita at quo ipsa inventore nulla minus sunt amet quis maxime, ducimus, quam eum. Explicabo ratione delectus repellendus?
                </p>
		    </div>
		</div>
	</div>
</div>
</div>
{% endblock %}