{% extends "support_app/layout.html" %}
{% block title %}
About Us
{% endblock %}
{% block content %}
<div class="banner">
	<div class="g-table">
	    <div class="d-middle">
		    <div class="container">
			    <div class="banner-text">
			    <h1>AI Tool Paradigm: Stacking experts to solve complex tasks</h1>
			    <p class="textPara">
                    We achieved significant progress in content classification, generation, summarization,
                    expansion and Q&A in the field of Generative AI. The emergent <b>Agent</b> pattern where
                    we assign a role to LLM and give it certain tools to perform complex tasks via multi-turn
                    interaction makes Generative AI even more powerful. <b>Agent</b> paradimg makes the LLM reason
                    and act(ReACT) based on the assigned role and tools in its disposal; the complex task is
                    broken into smaller simpler tasks to achieve final outcome.
               </p>
               <p class="textPara">
                    The <b>Agent</b> pattern is inherently composible as well. It is very much possible to wrap an
                    <b>Agent</b> as a tool and used by another <b>Agent</b>, the <b>Expert</b> tool. That
                    ability gives rise to level of expertise and building higher-order agents for more complex
                    tasks. This is no different from microservice paradigm, where we built high-order API
                    composing lower-order API.  
               </p>
                <p class="textPara">
                    This is a small demo of a <b>Agent</b> functionality, its composibility and reusability.
                    We used OpenAI GPT-3.5-Turbo as our LLM and LangChang library for <b>Agent</b> implementation.
                    We also show how a organizationl tool registry can accelerate GenAI applications.
                </p>
		    </div>
		</div>
	</div>
</div>
</div>
{% endblock %}