{% extends "support_app/layout.html" %}
{% block title %}
  Home
{% endblock %}
{% block content %}
  <div id = "home" class="body-content">
    <div class="split left">
      <section class="msger">
        <header class="msger-header">
          <div class="msger-header-title">
            <i class="fas fa-comment-alt"></i> Shopping Support Window
          </div>
          <div class="msger-header-options">
            <span><i class="fas fa-cog"></i></span>
          </div>
        </header>

        <main class="msger-chat">
          <div class="msg left-msg">
            <div
            class="msg-img"
            style="background-image: url('/static/support_app/chatbot.gif')"
            ></div>

            <div class="msg-bubble">
              <div class="msg-info">
                <div class="msg-info-name">AI Support</div>
                <div class="msg-info-time">12:45</div>
              </div>

              <div class="msg-text">
                Welcome to Shopping Support! I'm an AI Agent dealing with ordering related queries.
                How can I help you? 😄
              </div>
            </div>
          </div>
        </main>

        <form class="msger-inputarea">
          <input type="text" class="msger-input" placeholder="Enter your message...">
          <button type="submit" class="msger-send-btn">Send</button>
        </form>
      </section>
    </div>
    <div class="split right">
      <section class="msger">
        <header class="msger-header">
          <div class="msger-header-title">
            <i class="fas fa-comment-alt"></i> Agent Trace Console
          </div>
        </header>
        <div class="console" id="trace_console">
          <pre>
            <p class="debug">{"a":"foo","b":"bar"}</p>
            <p class="info">Many messages, such logging, wow!</p>
            <p class="warn">Warning, warning!</p>
            <p class="error">Oh noes, y u do dis?</p>
          </pre>
        </div>
      </section>
    </div>
  </div>
  {% load static %}
  <script type="text/javascript" src="{% static 'support_app/home.js' %}"></script>
{% endblock %}