{% extends "support_app/layout.html" %}
{% block title %}
  AI Tool Registry
{% endblock %}
{% block content %}
  <div class="w3-container">
    <h2><b>AI Tool Registry</b></h2>
  </div>
  <table class="table">
    <colgroup>
      <col class="tool-columns">
      <col class="tool-columns">
      <col class="tool-columns">
      <col class="tool-columns">
      <col>
    </colgroup>
    <thead>
        <tr>
            <th>Type</th>
            <th>Trait</th>
            <th>Domain</th>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        {% for tool in tools %}
            <tr>
              <td><img src="{{tool.typeImg}}" alt="" width="30" height="30"><pre>{{tool.type}}</pre></td>
              <td><img src="{{tool.traitImg}}" alt="" width="30" height="30"><pre>{{tool.trait}}</pre></td>
              <td><img src="{{tool.domainImg}}" alt="" width="30" height="30"><pre>{{tool.domain}}</pre></td>
              <td>{{tool.name}}</td>
                <td>{{tool.description}}</td>
            </tr>
        {% endfor %}
    </tbody>
  </table>
{% endblock %}